#calculator {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#container {
    height: 300px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: auto;
    justify-content: center;
    gap: 2px;
    border: 10px solid lightgrey;
    border-radius: 4px;
    background-color: black;
}

#display {
    display: flex;
    flex-direction: row-reverse;
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 5;
}